{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

    {% block profile-title %}
    <div class="page-header">
   	  <h1>Моя анкета <small></small></h1>
    </div>
    {% endblock %}


    {% block profile-top-controlbar %}
        {% if object == request.user %}
            <div class="btn-group mb20">
              <button class="btn" onclick="document.location.href = '{% url profile-edit %}'">Редактировать</button>
            </div>
        {% endif %}
    {% endblock %}

    {% block profile-content %}

        {% if object.get_profile.avatar %}
    <div class="span3">
        <div class="wrap-profile-img">
            <a href="{{ object.get_profile.avatar.url }}" target="_blank"><img src="{{ object.get_profile.avatar|thumbnail_url:'avatar' }}" alt="{{ object.get_profile.displayName }}" class="profile-img"></a>
        </div>
    </div>
    <div class="span8">
        {% endif %}


    <div class="profile-info">
        <table class="table table-striped">
          <thead></thead>
          <tbody>
            <tr>
                <td class="title-col"><h4>Имя:</h4></td>
                <td class="data-col"><p>{{ object.first_name }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>Фамилия:</h4></td>
                <td class="data-col"><p>{{ object.last_name }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>E-mail:</h4></td>
                <td class="data-col"><p>{{ object.email }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>Откуда:</h4></td>
                <td class="data-col"><p>{{ object.get_profile.location }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>Зарегистрирован:</h4></td>
                <td class="data-col"><p>{{ object.date_joined|date:"VIEW_SHORT_DATE_FORMAT" }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>День рождения:</h4></td>
                <td class="data-col"><p>{{ object.get_profile.birthdate|date:"VIEW_SHORT_DATE_FORMAT" }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>Статус:</h4></td>
                <td class="data-col"><p>{{ object.get_profile.social_role }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>Блог/сайт:</h4></td>
                <td class="data-col"><p>{{ object.get_profile.blog_or_site }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>ICQ:</h4></td>
                <td class="data-col"><p>{{ object.get_profile.icq }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>Skype:</h4></td>
                <td class="data-col"><p>{{ object.get_profile.skype }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>Телефон:</h4></td>
                <td class="data-col"><p>{{ object.get_profile.phone }}</p></td>
            </tr>
            <tr>
                <td class="title-col"><h4>О себе:</h4></td>
                <td class="data-col"><p>{{ object.get_profile.about }}</p></td>
            </tr>
          </tbody>
        </table>
    </div>
    {% if object.get_profile.avatar %}
    </div>
    {% endif %}
    
    {% endblock %}

{% endblock %}
