{% load thumbnail %}
{% load basket_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Citta Vita</title>

<link href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}css/jquery.modalbox-basic.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}css/jquery.modalbox-skin.css" rel="stylesheet" type="text/css" media="screen" />
<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" media="screen" />

<!--[if lt IE 9]>
<link href="{{ STATIC_URL }}css/msie.css" rel="stylesheet" type="text/css" media="screen" />
<![endif]-->

<script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.router.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.cycle.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.modalbox.new.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/script.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_URL }}basket/js/basket.js"></script>
<script type="text/javascript">
//<![CDATA[

//]]>
</script>

</head>

<body class="">

{% block content %}


<div id="main">
	<div id="container">
		<div id="logo">Citta Vita</div>
		<div class="basket-panel">{% include 'basket/panel.html' %}</div>
        <div id="storage">

{% for shelf in shelfs %}

  			<div class="stack" id="page{{ shelf.num }}">
  				<div class="items">
  					<ul>

    {% for item in shelf.items %}
                        <li{% if item.margin_left %} style="margin-left: {{ item.margin_left }}px"{% endif %}{% if not item.get_image.border %} class="noborder"{% endif %}>
                            <div>
                            <!--[if lt IE 8]><table><td><![endif]-->
                                <a class="openmodalbox_width" href="#page{{ shelf.num }}-item{{ item.pk }}" rel="{%  url item-view item.pk %}" id="item{{ item.pk }}">
                                    <img src="{{ item.get_front_thumb.url }}" width="{{ item.get_front_thumb.width }}" height="{{ item.get_front_thumb.height }}" class="item_picture" alt="{{ item }}" />
                                    {% if item.get_image.border %}<img src="{{ item.get_image.border.image.url }}" class="item_border" />{% endif %}
                                </a>
                            <!--[if lt IE 8]></td></table><![endif]-->
                            </div>
                        </li>
    {% endfor %}

                        </ul>
                        <p>{{ shelf.num }}</p>
                    </div>

                    <ins class="palk palk-right"></ins>
                    <ins class="palk palk-left"></ins>
                    <ins class="polk polk-top"></ins>
                    <ins class="polk polk-mid"></ins>
                    <ins class="polk polk-bot"></ins>
                    <ins class="uzel u-top u-left"></ins>
                    <ins class="uzel u-top u-right"></ins>
                    <ins class="uzel u-mid u-left"></ins>
                    <ins class="uzel u-mid u-right"></ins>
                    <ins class="uzel u-bot u-left"></ins>
                    <ins class="uzel u-bot u-right"></ins>
                </div>

{% endfor %}


		</div>
		<a href="#" id="prev" class="nav"></a>
		<a href="#" id="next" class="nav"></a>
	</div>
</div>


{% endblock content %}


</body>
</html>

